@import url('https://fonts.googleapis.com/css?family=Allura|Josefin+Sans');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(0, 0, 0);
  font-family: 'Josefin Sans', sans-serif;
  color: white;
}

/***** ENCABEZADO *****/

#encabezado-acercade {
  background-color: #423f3f98;
}

.titulo-seccion {
  background-image: url('../assets/img/banner-acercade.png');
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  height: 18rem;
}

.encabezado {
  width: 70%;
  height: 15rem;
  text-align: center;
}

.imagen-background {
  width: 100vw;
}
.titulo {
  padding: 10px;
  width: 70%;
  position: relative;
  z-index: 5;
}

.encabezado h1 {
  border-radius: 10px;
  color: rgb(195, 21, 21);
  text-align: center;
  font-size: 5rem;
  background-color: rgba(224, 203, 203, 0.327);
  text-shadow: 5px 5px 5px rgb(238, 235, 235);
}

.columna1 {
  width: 100%;
}

.historia {
  width: 100%;
}

.descripcion {
  margin-top: 30px;
  text-align: center;
  padding: 0 100px;
}

.descripcion p {
  line-height: 2;
  padding-bottom: 2rem;
  text-align: center;
}

.titulo-sobre-nosotros {
  width: 100%;
  text-shadow: 3px 5px 5px rgb(199, 65, 65);
}

.columna2 {
  width: 40%;
}

.img-teams {
  border-radius: 30px;
  margin: 30px;
  width: 100%;
}

.h1nombre {
  text-shadow: 3px 5px 5px rgb(199, 65, 65);
  padding-bottom: 30px;
}

@media (width >= 375px) and (width <= 768px) {
  .contenido-descripcion {
    margin: 10px;
  }

  .encabezado h1 {
    font-size: 3rem;
  }
  .descripcion {
    flex-direction: column;
    width: 100%;
  }

  .columna1 {
    width: 100%;
  }

  .columna2 {
    display: none;
  }

  .titulo-sobre-nosotros {
    width: 100%;
  }
}

/* CARDS Acerca de nosotros */

.wrapper {
  margin-top: 50px;
}

.wrapper h1 {
  font-family: 'Allura', cursive;
  font-size: 52px;
  margin-bottom: 60px;
  text-align: center;
}

.team {
  display: flex;
  justify-content: space-around;
  width: auto;
  text-align: center;
  flex-wrap: wrap;
  margin: 10px;
}

.team .team_member {
  background: #fff;
  margin: 5px;
  margin-bottom: 50px;
  width: 300px;
  padding: 20px;
  line-height: 20px;
  color: #8e8b8b;
  position: relative;
}

.team .team_member h3 {
  color: #0b1403;
  font-size: 26px;
  margin-top: 50px;
}

.team .team_member p.role {
  color: #ccc;
  margin: 12px 0;
  font-size: 12px;
  text-transform: uppercase;
}

.team .team_member .team_img {
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #fff;
}

.team_img img {
  width: 100px;
  height: 100px;
  padding: 5px;
  border-radius: 50%;
}

.team .team_member .team_img img {
  width: 100px;
  height: 100px;
  padding: 5px;
}
