@import url('https://fonts.googleapis.com/css?family=Allura|Josefin+Sans');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #303030;
	background-image: linear-gradient(to bottom, #b7b7b7, #848484);
	font-family: 'Roboto', sans-serif;
	color: white;
}

/***** ENCABEZADO *****/

#encabezado-acercade {
	background-color: #ccc;
}

.titulo-seccion {
	background-image: url(../assets/img/baner\ sobre\ nosotros.png);
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	height: 25rem;
	overflow: hidden;
}

.encabezado {
	width: 70%;
	height: 15rem;
	text-align: center;
}

.imagen-background {
	width: 100vw;
}

.titulo {
	padding: 10px;
	width: 70%;
	position: relative;
	z-index: 5;
}

/* SOBRE NOSOTROS */
.encabezado h1 {
	border-radius: 10px;
	color: rgb(195, 21, 21);
	text-align: center;
	font-size: 5rem;
	background-color: rgba(224, 203, 203, 0.327);
	text-shadow: 5px 5px 5px rgb(238, 235, 235);
}
.columna1 {
	width: 100%;
}

.historia {
	width: 100%;
	padding: 2rem;
	font-size: 1.5rem;
}

.descripcion {
	margin-top: 30px;
	text-align: center;
	padding: 0 100px;
}

.descripcion p {
	line-height: 2;
	padding-bottom: 2rem;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	color: #333333;
}

.descripcion h2 {
	font-family: 'Roboto', sans-serif;
}
.titulo-sobre-nosotros {
	width: 100%;
	color: red;
}

.columna2 {
	width: 40%;
}

.img-teams {
	border-radius: 30px;
	margin: 30px;
	width: 100%;
}

.h1nombre {
	padding-bottom: 30px;
}

@media (width <= 768px) {
	.contenido-descripcion {
		margin: 10px;
	}

	.encabezado h1 {
		font-size: 3rem;
	}
	.descripcion {
		flex-direction: column;
		width: 100%;
		padding: 0;
	}

	.columna1 {
		width: 100%;
	}

	.columna2 {
		display: none;
	}
	.historia {
		padding: 0;
		margin: 0;
		font-size: 1rem;
	}

	.titulo-sobre-nosotros {
		width: 100%;
	}
	.titulo-seccion {
		background-image: url(../assets/img/baner\ sobre\ nosotros\ celulares.png);
		background-repeat: no-repeat;
		background-size: cover;
		height: 10rem;
		overflow: hidden;
	}
}

/* CARDS Acerca de nosotros */

.wrapper {
	margin-top: 50px;
}

.wrapper h1 {
	font-family: 'Roboto', sans-serif;
	font-size: 30px;
	margin-bottom: 60px;
	text-align: center;
	color: rgb(46, 46, 46);
}

.team {
	display: flex;
	justify-content: space-around;
	width: auto;
	text-align: center;
	flex-wrap: wrap;
	margin: 10px;
}

.team .team_member {
	background: #2d2d2d;
	margin: 5px;
	margin-bottom: 50px;
	width: 300px;
	padding: 20px;
	line-height: 20px;
	color: #8e8b8b;
	position: relative;
	border-radius: 10px;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.team .team_member h3 {
	color: #ff0000;
	font-size: 15px;
	margin-top: 50px;
}

.team .team_member p.role {
	color: #ffffff;
	margin: 12px 0;
	font-size: 10px;
	text-transform: uppercase;
}

.team .team_member .team_img {
	position: absolute;
	top: -50px;
	left: 50%;
	transform: translateX(-50%);
	width: 100px;
	height: 100px;
	border-radius: 50%;
}

.team_img img {
	width: 100px;
	height: 100px;
	padding: 5px;
	border-radius: 50%;
	box-shadow: 3px 3px 25px rgba(0, 0, 0, 0.9);
}

.team .team_member .team_img img {
	width: 100px;
	height: auto;
	padding: 5px;
}
/* FOOTER */
.FooterContainer {
	display: flex;
	background-color: rgb(227, 227, 227);
	padding: 1rem;
	font-family: 'Roboto', sans-serif;
	color: #333333;
	font-style: normal;
}

.FooterContainer a:hover {
	color: #ccc;
}

.FooterSeccion {
	text-align: center;
	flex: 1;
	padding: 0.5rem;
	font-size: 1rem;
	margin: auto;
}

.FooterSeccion h3 {
	font-size: 18px;
}

.FooterSeccion h2 {
	font-size: 1rem;
}

.Logo {
	width: 30px;
	height: auto;
	margin: 21px;
}

a {
	color: inherit;
	text-decoration: none;
}

.FooterSeccion a {
	color: inherit;
	text-decoration: none;
}

.vertical-line {
	border-left: 1px solid #ffffff;
}

@media (max-width: 768px) {
	.FooterContainer {
		flex-direction: column;
	}

	.vertical-line {
		border-left: none;
	}

	.Logo {
		width: 30px;
		margin: 15px;
	}

	.FooterSeccion {
		margin: 1rem;
	}
	.buttonclass {
		margin: 0 !important;
		width: 3.4rem;
	}
	.FooterSeccion a {
		font-size: 11px;
	}

	.FooterSeccion h3 {
		font-size: 13px;
	}

	.FooterSeccion:nth-child(1)::after {
		content: '';
		display: block;
		border-top: 1px solid #ccc;
		margin-top: 10px;
		padding-top: 10px;
	}
}
/*FOOTER*/
