.carousel {
  margin: 0 40px 50px;
  /* border: 1px solid #ba8383; */
}
.card {
  max-width: 100%;
  height: auto;
  overflow: hidden;

  margin: 30px;
  border-radius: 5px;
  background: #1c0000;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.card img {
  max-width: 100%;
  height: 200px;
  /* object-fit: cover; */
}

.slick-arrow {
  background-color: rgb(230, 227, 227);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border: 2px solid rgb(230, 227, 227);
  z-index: 1;
}
.slick-siguiente {
  font-size: 30px; /* Cambia el tamaño según tus preferencias */
}
.slick-atras {
  font-size: 30px; /* Cambia el tamaño según tus preferencias */
}
