
body {
    margin: 0;
    padding: 0;

}

.FooterContainer
{
    display: flex; 
    background-color: rgb(227, 227, 227);
    padding: 10px;
    font-family: "Roboto", sans-serif;
    color: #333333;
    font-style: normal;
}

.FooterContainer a:hover{
    color: #ccc;
    font-size: 13px;
}
.FooterSeccion {
    text-align: center;
    flex: 1;
    padding: 10px;
    font-size: 12px;
    
}

.FooterSeccion h3 {
    font-size: 18px;
    margin-top: 15px
}

.Logo {
    width: 30px;
    height: auto;
    margin: 21px;
}

a{
    color: inherit;
    text-decoration: none;
}

.vertical-line {
    border-left: 1px solid #ffffff; 
  }

@media (max-width:768px) {
    .FooterContainer{
        flex-direction: column;

    }
    .vertical-line{
        border-left: none;
    }
    .Logo{
        width: 30px;
        margin: 15px;
    }
    .FooterSeccion a{
        font-size: 11px;
    }
    .FooterSeccion h3{
        font-size: 13px;
    }
    .FooterSeccion:nth-child(1)::after {
        content: '';
        display: block;
        border-top: 1px solid #ccc;
        margin-top: 10px; 
        padding-top: 10px;  }
    }
    

    .Navbar {
        display: flex;
        justify-content:space-between;
        align-items: center;
        padding: 20px;
        background-color: rgb(227, 227, 227);
       
        margin-top: 0px;
        
    }
    #registerButton{
        padding: 20px;
        background-color: transparent;
        color: black;
        border: none;
        font-size: 20px;
        font-family: "Roboto", sans-serif;
       
        margin-top: 0px;
    }
    #registerButton:hover{
        padding: 20px;
        background-color: transparent;
        border: none;
        font-size: 30px;
        color: black;
       
        font-family: "Roboto", sans-serif;
        margin-top: 0px;
    }

    .CinestrenarLogo {
        width: 200px;
        height: auto;
    }

    .Hamburguer {
        display: none;
        flex-direction: column;
        cursor: pointer;
        margin-left: auto;
    }
    .line {
        width: 25px;
        height: 3px;
        background-color: #534848;
        margin: 3px 0;
        
    }

    .menu {
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        right: 0;
        font-size: 20px;
        font-family: "Roboto", sans-serif;
        font-style: normal;
       
        
     
    }

    .menu li {
        margin-right: 20px;
        display: inline-block;
    }
   
    .menu a {
        color: #333333;
        text-decoration: none;
        transition: color 0.3s;
    }
    .menu a:hover {
        color: #ccc;
        font-size:35px;
    }

   
    @media screen and (max-width: 768px) {
        .menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 50px;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        opacity:  0;
        transition: opacity 0.3s ease;
        backdrop-filter: blur(5px);
        font-size: 20px;
        padding: 15px;
        left: 0;
        border-radius: 10px;
        margin: 0 auto;
        width: 300px;
    }
    .menu.active {
        display: flex;
        opacity: 1;
    }
    .Hamburguer {
        display: flex;
    }
    .Navbar {
        flex-direction: column;
        
        
    }
    .CinestrenarLogo{
        height: 100px;
        width: auto;
        
    }
    .menu a{
    color: #fff;
}

.menu li {margin-bottom: 10px;}
}