/* #descripcion {
    font-size: 0.5rem;
} */

#descripcion {
    font-size: 1rem;
}

#miVideo {
    width: 100%;
    height: 50vh;
}

@media (max-width: 1366px) {
    #descripcion {
        font-size: 1.2rem;
    }
}

@media (max-width: 768px) {
    #modalContent {
        background-image: none !important;
    }
}