* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(100, 99, 99);
  color: white;
}

.navbar li a {
  color: white !important;
}

.container-panel-lateral-expandido {
  width: 25%;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  padding: 10px;
  height: 100vh;
  display: block;
}

.contenedor-head-titulo-panel {
  visibility: hide;
}

.seccion-admin-usuario {
  width: 100%;
  display: flex;
  justify-content: center;
}

btn-manipular-panel-izquierdo-oculto {
  display: block;
}

/* @media (width >= 600px) and (width <= 3400px) {
  .container-panel-lateral-expandido {
    width: 15%;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    padding: 10px;
    height: 100vh;
  }
} */

.btn-admin {
  width: 100%;
  height: auto;
}

.container-tablas {
  width: 100%;
  margin: 5%;
}

.ancho-descripcion {
  width: 1px;
}

@media (width <=1366px) {
  table {
    font-size: small;
  }
}

.contenido-destacado {
  color: yellow;
}

.contenido-no-destacado {
  color: rgb(202, 202, 202);
}

.dropdown-toggle-opcion-tabla::after {
  /** Quitar flechas de dropdown de bootstrap*/
  content: none;
}

.dropdown-toggle-opcion-tabla {
  font-size: 12px;
  width: 10px;
}
