.btn {}

#error404 {
  background-image: url('../assets/img/556ff54e022b90d98d7b974b98575492.jpg');
  background-size: cover;
  background-position: center;
  height: 110vh;
  /* Altura deseada */
  color: white;
  /* Color del texto */
  text-align: center;
  /* Alineación del texto */
  /* padding-top: 100px; */
  /* Espaciado superior para centrar el texto */

}

.card-title {
  font-size: 6vw;
}

.card-text {
  font-size: 1.5vw;
}

.card {
  background-color: rgba(255, 255, 255, 0.7) !important;
}

.modal-dialog-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#volverInicio {
  font-size: 1vw;
}